* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 95%);
}
