* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  color: hsl(0, 0%, 95%);
  background-color: hsl(0, 0%, 0%);
  width: 100%;
}

form {
  /* width: 90%; */
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 64px;
}

header h1 {
  font-weight: 800;
  font-size: 42px;
  text-align: center;
  margin-top: 8px;
}

.container {
  width: 400px;
  margin: 18px auto 0;
  background-color: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 95%);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  border-radius: 12px;
  border: solid 1px hsl(0, 0%, 30%);
  padding: 18px 0;
}

#location,
#submit {
  font-size: 18px;
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 95%);
  font-weight: 600;
  border: solid 1px hsl(0, 0%, 30%);
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

#location:hover,
#submit:hover {
  transition: all 200ms;
}

#submit:hover {
  background-color: hsl(0, 0%, 15%);
}

form #location {
  background-color: hsl(0, 0%, 10%);

  width: 300px;
  border-radius: 8px;
  padding: 8px 24px;
  overflow: hidden;
}

#location:focus {
  outline: none;
}

#submit {
  background-color: hsl(0, 0%, 10%);

  border-radius: 8px;
  font-weight: 800;
  cursor: pointer;

  padding: 6px 12px;
}

section .date {
  font-size: 16px;
  color: hsl(0, 0%, 30%);
}

section .city,
section .country {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  margin: 8px 0;
}

section .time {
  font-size: 28px;
  font-weight: 600;
  color: hsl(0, 0%, 10%);
}

.icon {
  height: 148px;
  width: 148px;
  display: block;
  margin: 0 auto;
}

section .temperature {
  font-size: 64px;
  /* letter-spacing: 2px; */
}

section .feels-like {
  font-size: 20px;
  font-weight: 600;
  color: hsl(0, 0%, 70%);
  margin-bottom: 24px;
}

.humidity,
.wind-speed,
.sunrise,
.sunset {
  display: inline-block;
}

.humidity div,
.wind-speed div,
.sunrise div,
.sunset div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(0, 0%, 70%);
  gap: 4px;
  margin-bottom: 12px;

  background-color: hsl(0, 0%, 10%);
  width: 140px;
  padding: 12px 16px;
  border-radius: 8px;
  border: solid 1px hsl(0, 0%, 30%);
}

.humidity,
.sunrise {
  margin-right: 12px;
}

section .humidity span,
section .wind-speed span,
section .sunrise span,
section .sunset span {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  /* width: 150px; */
  color: hsl(0, 0%, 95%);
}

section .description {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: hsl(0, 0%, 70%);
}

/* hidden */
.hidden {
  display: none;
}
