* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 5%);
  width: 100%;
}

form {
  /* width: 90%; */
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 64px;
}

header h1 {
  font-weight: 800;
  font-size: 42px;
  /* letter-spacing: 2px; */
  text-align: center;
  margin-top: 8px;
}

#location,
#submit {
  font-size: 18px;
  /* border-radius: 50px; */
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 10%);
  font-weight: 600;
  border: none;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

#location:hover,
#submit:hover {
  box-shadow: -4px -4px 8px hsl(0, 0%, 100%, 0.6),
    4px 4px 8px hsl(0, 0%, 0%, 0.2);
  border-radius: 16px;
  transition: all 200ms;
}

form #location {
  background-color: hsl(0, 0%, 95%);
  box-shadow: -4px -4px 8px hsl(0, 0%, 100%, 0.4),
    4px 4px 8px hsl(0, 0%, 0%, 0.1);

  width: 300px;
  border-radius: 16px;
  padding: 8px 24px;
  overflow: hidden;
}

#location:focus {
  outline: none;
}

#submit {
  background-color: hsl(0, 0%, 95%);
  box-shadow: -4px -4px 8px hsl(0, 0%, 100%, 0.4),
    4px 4px 8px hsl(0, 0%, 0%, 0.1);

  border-radius: 50%;
  /* border-left: 2px solid hsl(0, 0%, 90%); */

  /* font-size: 22px; */
  font-weight: 800;

  padding: 6px 12px;
}

.container {
  width: 400px;
  margin: 28px auto 0;
  background-color: hsl(0, 0%, 95%);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  border-radius: 8px;
  padding: 28px 0;
  box-shadow: -2px -2px 8px hsl(0, 0%, 100%, 0.1),
    4px 4px 8px hsl(0, 0%, 0%, 0.3);
}

section .date {
  font-size: 16px;
  color: hsl(0, 0%, 30%);
}

section .city {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}

section .time {
  font-size: 28px;
  font-weight: 600;
  color: hsl(0, 0%, 10%);
}

.icon {
  height: 196px;
  width: 196px;
  margin: 0;
}

section .temperature {
  font-size: 64px;
  /* letter-spacing: 2px; */
}

section .description {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: hsl(0, 0%, 50%);
}

/* hidden */
.hidden {
  display: none;
}
