* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 5%);
  width: 100%;
}

form {
  width: 90%;
  margin: 16px auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;
}

form h1 {
  font-weight: 800;
  font-size: 42px;
  letter-spacing: -2px;
}

#location,
#submit {
  font-size: 18px;
  /* border-radius: 50px; */
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 10%);
  font-weight: 600;
  border: none;
}

.inputs {
  position: absolute;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  align-items: center;
  box-shadow: -4px -4px 8px hsl(0, 0%, 100%, 0.4),
    4px 4px 8px hsl(0, 0%, 0%, 0.1);
  border-radius: 16px;
  transform: translateX(102.5%);
  transition: all 200ms;
}

.inputs:hover {
  box-shadow: -4px -4px 8px hsl(0, 0%, 100%, 0.6),
    4px 4px 8px hsl(0, 0%, 0%, 0.2);
  border-radius: 16px;
}

form #location {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 8px 24px;
}

#location:focus {
  outline: none;
}

#submit {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-left: 2px solid hsl(0, 0%, 90%);

  /* font-size: 22px; */
  font-weight: 800;

  padding: 6px 18px;
}

main {
  width: 25%;
  margin: 0 auto;
  background-color: hsl(0, 0%, 95%);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  border-radius: 16px;
  padding: 28px 0;
  box-shadow: -2px -2px 8px hsl(0, 0%, 100%, 0.1),
    4px 4px 8px hsl(0, 0%, 0%, 0.3);
}

main .date,
main .city {
  font-size: 16px;
  color: hsl(0, 0%, 30%);
}

main .time {
  font-size: 28px;
  font-weight: 600;
  color: hsl(0, 0%, 10%);
}

main .icon {
  font-size: 228px;
  font-weight: 400;
}

main .temperature {
  font-size: 64px;
  letter-spacing: 2px;
}

main .description {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: hsl(0, 0%, 50%);
}

/* hidden */
.hidden {
  display: none;
}
